<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "web-app_2_3.dtd">

<web-app>

	<servlet>
		<servlet-name>launcher</servlet-name>
		<servlet-class>com.web.servlet.Launcher</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.controller.homework.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExitServlet</servlet-name>
		<servlet-class>com.controller.homework.ExitServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>com.controller.homework.AddServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentAddServlet</servlet-name>
		<servlet-class>com.controller.homework.StudentAddServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TeacherLoginServlet</servlet-name>
		<servlet-class>com.controller.homework.TeacherLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.controller.homework.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateTeacherServlet</servlet-name>
		<servlet-class>com.controller.homework.UpdateTeacherServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateStudentServlet</servlet-name>
		<servlet-class>com.controller.homework.UpdateStudentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterCourseServlet</servlet-name>
		<servlet-class>com.controller.homework.RegisterCourseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TeacherRegisterCourseServlet</servlet-name>
		<servlet-class>com.controller.homework.TeacherRegisterCourseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteCourseServlet</servlet-name>
		<servlet-class>com.controller.homework.DeleteCourseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteTeamMemberServlet</servlet-name>
		<servlet-class>com.controller.homework.DeleteTeamMemberServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteTeamOrMemberServlet</servlet-name>
		<servlet-class>com.controller.homework.DeleteTeamOrMemberServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteTeacherCourseServlet</servlet-name>
		<servlet-class>com.controller.homework.DeleteTeacherCourseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowHomeworkServlet</servlet-name>
		<servlet-class>com.controller.homework.ShowHomeworkServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckHomeworkServlet</servlet-name>
		<servlet-class>com.controller.homework.CheckHomeworkServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckHomeworkByPersonServlet</servlet-name>
		<servlet-class>com.controller.homework.CheckHomeworkByPersonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckHomeworkByTeamServlet</servlet-name>
		<servlet-class>com.controller.homework.CheckHomeworkByTeamServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowTeacherHomeworkServlet</servlet-name>
		<servlet-class>com.controller.homework.ShowTeacherHomeworkServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowTeamAndMemberServlet</servlet-name>
		<servlet-class>com.controller.homework.ShowTeamAndMemberServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowStudentOnCourseServlet</servlet-name>
		<servlet-class>com.controller.homework.ShowStudentOnCourseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RefreshMainPageServlet</servlet-name>
		<servlet-class>com.controller.homework.RefreshMainPageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RefreshTeacherMainPageServlet</servlet-name>
		<servlet-class>com.controller.homework.RefreshTeacherMainPageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownLoadHomeworkServlet</servlet-name>
		<servlet-class>com.controller.homework.DownLoadHomeworkServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpLoadHomeworkByPersonServlet</servlet-name>
		<servlet-class>com.controller.homework.UpLoadHomeworkByPersonServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpLoadHomeworkServlet</servlet-name>
		<servlet-class>com.controller.homework.UpLoadHomeworkServlet</servlet-class>
		<init-param>
			<param-name>absPath</param-name> 
			<param-value>d:/work/homework/web/homework</param-value> 
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/servlet/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExitServlet</servlet-name>
		<url-pattern>/servlet/ExitServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddServlet</servlet-name>
		<url-pattern>/servlet/AddServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentAddServlet</servlet-name>
		<url-pattern>/servlet/StudentAddServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeacherLoginServlet</servlet-name>
		<url-pattern>/servlet/TeacherLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/servlet/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateTeacherServlet</servlet-name>
		<url-pattern>/servlet/UpdateTeacherServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStudentServlet</servlet-name>
		<url-pattern>/servlet/UpdateStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeacherRegisterCourseServlet</servlet-name>
		<url-pattern>/servlet/TeacherRegisterCourseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterCourseServlet</servlet-name>
		<url-pattern>/servlet/RegisterCourseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCourseServlet</servlet-name>
		<url-pattern>/servlet/DeleteCourseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTeamMemberServlet</servlet-name>
		<url-pattern>/servlet/DeleteTeamMemberServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTeamOrMemberServlet</servlet-name>
		<url-pattern>/servlet/DeleteTeamOrMemberServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTeacherCourseServlet</servlet-name>
		<url-pattern>/servlet/DeleteTeacherCourseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowHomeworkServlet</servlet-name>
		<url-pattern>/servlet/ShowHomeworkServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowTeamAndMemberServlet</servlet-name>
		<url-pattern>/servlet/ShowTeamAndMemberServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckHomeworkServlet</servlet-name>
		<url-pattern>/servlet/CheckHomeworkServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckHomeworkByPersonServlet</servlet-name>
		<url-pattern>/servlet/CheckHomeworkByPersonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckHomeworkByTeamServlet</servlet-name>
		<url-pattern>/servlet/CheckHomeworkByTeamServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowTeacherHomeworkServlet</servlet-name>
		<url-pattern>/servlet/ShowTeacherHomeworkServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowStudentOnCourseServlet</servlet-name>
		<url-pattern>/servlet/ShowStudentOnCourseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefreshMainPageServlet</servlet-name>
		<url-pattern>/servlet/RefreshMainPageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefreshTeacherMainPageServlet</servlet-name>
		<url-pattern>/servlet/RefreshTeacherMainPageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownLoadHomeworkServlet</servlet-name>
		<url-pattern>/servlet/DownLoadHomeworkServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpLoadHomeworkByPersonServlet</servlet-name>
		<url-pattern>/servlet/UpLoadHomeworkByPersonServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpLoadHomeworkServlet</servlet-name>
		<url-pattern>/servlet/UpLoadHomeworkServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>